!!!
html
  head
    link(rel="stylesheet", href="/main.css")
  body
    div#header
      div.head
        != partial("_head")
      div.nav
        ul
          != partial("_nav")
      div.clearBoth
    div#main.stPageEl
      != yield
      div.clearBoth
    div#footer
      div.clearBoth
