h1 Activities
p
  | Here we list the various activities that can be used in conjunction with the presentations (or apart).
  | <br />
  | We want to have a variety of activities that range from short to long, easy to difficult.
