h1 Welcome to the Star Ambassador High School Outreach Webpage
p 
  | From this page, there will be general access to presentations, projects,
  | e-Textiles, activities. Feel free to modify and use these to suit your 
  | own needs. Our goal is to promote technology through learning and exploring.
