/*
 * vars
 */
crimson = red
cream = white
lightgray = #f4f4f4
darkgray = #f9f9f9
/*
 * Top Level Definitions
 */

body
  margin 0
  padding 0
  background-color lightgray
  font-size 15px

p
  text-indent 15px

h1
  font-size 50px

h2
  font-size 40px

h3
  font-size 30px

h4
  font-size 20px

h5
  font-size 15px

/*
 * ID Elements
 */

#header
  margin 0
  padding 0
  width 100%
  height 90px
  background-color crimson

#main
  min-height 500px
  background-color darkgray

#main h1
  font-size 25px


#footer {}

/*
 * Class Elements (special)
 */

.head
  float left
  height 40px
  background-color inherit

.head h1
  font-size 35px
  margin 0
  padding 0

.nav
  float right
  display inline-block
  height 30px
  border-radius 0 0 0 10px
  background-color darkgray

.nav ul
  list-style none
  display block
  margin 0
  padding 0
  text-align center

.nav li
  margin 0 
  padding 0
  width 100px
  height 30px
  display inline

.nav a
  display inline-block
  margin 0
  padding 5px
  width 100px
  height 30px
  font-size 20px
  text-decoration none
  color black
  text-align center

.nav a:link {}
.nav a:visited {}
.nav a:hover
  background-color crimson
.nav a:active {}

.nav h2
  margin 0
  padding 0
  font-size 20px

/*
 * Class Elements (generic)
 */

.stPageEl
  margin 0 auto 0 auto
  padding 5px
  width 950px

.clearBoth
  clear both

.clearLeft
  clear left

.clearRight
  clear right

.floatLeft
  float left

.floatRight
  float right


