h1 Projects
p
  | Cool tech projects form IU - to demonstrate some ideas that have (or have not!) gained momentum.
  | <br />
  | The point is to play with technology and find something that you enjoy doing.
